﻿* {
	margin: 0;
	padding: 0;
}

.img {
	width: 100%;
	max-height: 13rem;

	display: block;
}

.hr {
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}

.post {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	padding-bottom: 10px;
	border: solid block 1px;
}

.post-full {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	padding-bottom: 10px;
	border: solid block 1px;
}

.post-full .img {
	max-height: 250px;
}

.comment {
	padding: 10px;
	margin-bottom: 10px;
}

.comment .img {
	max-height: 130px;
}

.ta-com {
	width: 100%;
}